.notice{
  h3{
    width: 70%;
    margin: 100px auto 0 auto;
    font-size: 36px;
    text-align: center;
    color: var(--font-color);
    padding: 50px 10px;
    border: 2px solid rgb(159, 101, 255);
    border-radius: 10px;
  }
}
@media(max-width: 576px){
  .notice{
    h3{
      width: 100%;
      font-size: 28px;
    }
  }
}